streamlit
ollama
langchain
#tempfile
faiss-cpu
pypdf
docx2txt
wordcloud
matplotlib
pillow
pandas
pyautogen==0.2.10
python-dotenv
ipython
asyncio
ollama
uuid
crewai==0.28.8
crewai_tools==0.1.6
langchain_community==0.0.29

